.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  text-decoration: none;
}
.navigation-links1-link {
  margin-left: 32px;
  text-decoration: none;
}








.navigation-links1-root-class-name19 {
  top: -51px;
  fill: var(--dl-color-gray-900);
  left: -573px;
  color: var(--dl-color-gray-900);
  position: absolute;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
