.maserati-grecale-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.maserati-grecale-features {
  width: 100%;
  height: 968px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  flex-direction: column;
}
.maserati-grecale-text {
  font-size: 3rem;
  margin-bottom: 32px;
}
.maserati-grecale-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.maserati-grecale-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.maserati-grecale-blog-post-card:hover {
  transform: scale(1.02);
}
.maserati-grecale-image {
  width: 460px;
  height: 350px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 0px;
}
.maserati-grecale-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.maserati-grecale-text01 {
  margin-bottom: 32px;
}
.maserati-grecale-text06 {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  margin-bottom: 32px;
  text-transform: capitalize;
}
.maserati-grecale-text07 {
  top: 251px;
  left: 37px;
  color: var(--dl-color-gray-900);
  position: absolute;
  text-transform: capitalize;
}
.maserati-grecale-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.maserati-grecale-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
}
.maserati-grecale-link {
  color: var(--dl-color-gray-black);
  box-shadow: 5px 5px 10px 0px #424040;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
}
.maserati-grecale-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.maserati-grecale-text08 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.maserati-grecale-text09 {
  max-width: 1400px;
  text-align: center;
  margin-bottom: 32px;
}
.maserati-grecale-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.maserati-grecale-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.maserati-grecale-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.maserati-grecale-button:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
@media(max-width: 991px) {
  .maserati-grecale-features {
    align-items: center;
  }
  .maserati-grecale-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .maserati-grecale-text09 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .maserati-grecale-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .maserati-grecale-text {
    text-align: center;
  }
  .maserati-grecale-blog-post-card {
    flex-direction: column;
  }
  .maserati-grecale-image {
    width: 100%;
  }
  .maserati-grecale-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .maserati-grecale-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .maserati-grecale-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .maserati-grecale-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .maserati-grecale-link {
    width: auto;
  }
  .maserati-grecale-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
  .maserati-grecale-container3 {
    align-items: center;
    flex-direction: column;
  }
  .maserati-grecale-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
